* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.clear{
    clear: both;
}

.right{
    float: right;
}

.left{
    float: left;
}

.middle{
    margin: 0 auto;
}

body{
    text-align: center;
    background-color: #1F1B24;
    color: white;
    font-family: 'Roboto';
}

.heading{
    margin-top: 4vh;
    font-size: 3em;
    color: white;
    width: 100%;
    font-weight: 600;
}

.content{
    margin-left: 5vw;
    margin-right: 5vw;
}

.score{
    margin: 5vh 5vw;
    font-weight: 500;
    border: 2px solid gray;
    padding: 3vh 6vw;
    
}

.score .heading, .timer .heading{
    margin-top: 0;
    font-size: 1.5em;
}

.grid-container{
    margin: 0 5vw;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-column-gap: 10vw;
    grid-row-gap: 5vh;
    height: 60vh;
    max-width: 100%;
    align-content: center;
    margin-bottom: 8vh;
}

.box{
    width: 20vw;
    height: 100%;
    overflow: hidden;
}

.img-holder{
    position: relative;
    width: 100%;
    height: 100%;
}

.mask{
    background-color: red;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.mole{
    height: 90%;
    width: 100%;
    transition: transform 0.5s;
    z-index: -10;
}

.dirt{
    position: absolute;
    left: 0;
    bottom: -2vh;
    width: 100%;
    height: 30%;
    z-index: 0;
}

.timer{
    margin: 5vh 5vw;
    font-weight: 500;
    border: 2px solid gray;
    padding: 3vh 6vw;
    color: greenyellow;
}

.timer .heading{
    color: greenyellow;
}

#time{
    margin-top: 1vh;
    font-size: 1.3em;
}

#startBtn{
    background-color: white;
    padding: 2vh 4vw;
    font-size: 1.3em;
    border-radius: 10px;
    margin: 2vh 0;
}

@media only screen and (max-width: 768px){

.score{
    width: 100%;
    margin: 2vh 0;
    float: none;
}

.grid-container{
    grid-template-columns: auto auto;
    margin: 0;
}
}


